body {
  color: rgba(0, 0, 0, 0.74);
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
}

a {
  color: #bf3a30;
  text-decoration: none;
}

a:hover {
  color: #bf3a30;
  text-decoration: none;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 18px;
  line-height: 22px;
}

.navigation-link {
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: Inconsolata, monospace;
  color: silver;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
}

.navigation-link:hover {
  color: #333;
}

.navigation-link.w--current {
  color: #333;
}

.navigation-bar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0px;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  mix-blend-mode: luminosity;
}

.navigation-menu {
  margin-top: 3px;
}

.brand-text {
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: solid none;
  border-width: 2px;
  border-color: #000;
  font-family: Oswald, sans-serif;
  font-size: 33px;
  line-height: 36px;
  font-weight: 400;
  text-decoration: none;
}

.section {
  position: relative;
  padding-bottom: 20px;
  background-color: #fff;
}

.social-icon-link {
  margin-right: 2px;
  margin-left: 2px;
  padding: 0px;
  opacity: 0.85;
  transition: opacity 300ms ease;
}

.social-icon-link:hover {
  opacity: 0.3;
}

.footer {
  padding-top: 10px;
  padding-bottom: 11px;
  background-color: #f5f7fa;
  text-align: center;
}

.footer-text {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: Oswald, sans-serif;
  color: #bbb;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.photo-link-block {
  width: 100%;
  transition: transform 200ms ease, opacity 200ms ease;
  color: #333;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.photo-link-block:hover {
  opacity: 0.8;
  transform: scale(1.02);
  color: #333;
  text-decoration: none;
}

.blog-title {
  margin-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
}

.byline {
  margin-bottom: 20px;
  color: #ccc;
  font-size: 12px;
  line-height: 18px;
}

.sidebar-title {
  margin-bottom: 29px;
}

.blog-link {
  display: block;
  transition: color 200ms ease;
  color: #333;
  text-decoration: none;
}

.blog-link:hover {
  text-decoration: none;
}

.sidebar-divider {
  height: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-top: 1px solid #ccc;
}

.about-photo {
  padding-right: 30px;
}

.title {
  margin-top: 13px;
  margin-bottom: 33px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

.photo-page-title {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.photo-page-title.center {
  text-align: center;
}

.photo-info-text {
  margin-bottom: 18px;
  font-family: Montserrat, sans-serif;
  color: #969696;
  font-size: 11px;
  line-height: 17px;
  text-transform: uppercase;
}

.gallery-wrapper {
  margin-top: 56px;
}

.blog-list-item {
  min-height: 100px;
}

.blog-info-text {
  color: silver;
  font-size: 12px;
  text-transform: uppercase;
}

.small-blog-title {
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.small-blog-link {
  margin-bottom: 21px;
  color: #333;
}

.small-blog-link:hover {
  text-decoration: none;
}

.small-list {
  text-align: right;
}

.photo-row {
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
}

.description-text {
  margin-bottom: 23px;
}

.hero-heading-left {
  position: relative;
  height: 100dvh;
  padding: 80px 30px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #f5f7fa;
  font-family: Roboto, sans-serif;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 100px auto 60px;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-split {
  display: flex;
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.margin-bottom-24px {
  margin-top: 40px;
  margin-bottom: 40px;
  -ms-grid-row-align: auto;
      align-self: auto;
  font-family: Oswald, sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.button-primary {
  padding: 12px 25px;
  background-color: #1a1b1f;
  transition: all 200ms ease;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary:hover {
  background-color: #32343a;
  color: #fff;
}

.button-primary:active {
  background-color: #43464d;
}

.shadow-two {
  -ms-grid-row-align: auto;
      align-self: auto;
  box-shadow: 0 4px 24px 0 rgba(150, 163, 181, 0.08);
}

.gallery-overview {
  position: relative;
  padding: 80px 30px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #f5f7fa;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.gallery-wrapper-2 {
  display: -ms-grid;
  display: grid;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.gallery-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.gallery-features-block {
  margin-top: 16px;
  margin-bottom: 24px;
}

.gallery-feature {
  margin-bottom: 8px;
  padding-left: 30px;
  background-image: url('../images/');
  background-position: 0% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  font-size: 14px;
  line-height: 24px;
}

.button-primary-2 {
  padding: 12px 25px;
  background-color: #1a1b1f;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary-2:hover {
  background-color: #32343a;
  color: #fff;
}

.button-primary-2:active {
  background-color: #43464d;
}

.gallery-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.gallery-image {
  width: 100%;
}

.lets-connect {
  overflow: visible;
  height: 50dvh;
  margin-top: 150px;
  margin-bottom: 150px;
}

.text-block {
  display: flex;
}

.connect-btn {
  display: block;
  width: 100%;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 10px;
  padding-left: 10px;
  float: none;
  flex-direction: row;
  justify-content: center;
  -ms-grid-row-align: center;
      align-self: center;
  order: 0;
  flex: 0 auto;
  border: 2px solid #404047;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  outline-color: #313131;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 0px;
  font-family: Oswald, sans-serif;
  color: #404047;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.heading {
  display: block;
  overflow: visible;
  height: 100%;
  flex-direction: row;
  align-items: flex-start;
  font-family: Oswald, sans-serif;
  font-size: 60px;
  line-height: 100px;
  font-weight: 700;
  letter-spacing: normal;
  text-decoration: none;
  text-indent: 0dvh;
  white-space: normal;
  -o-object-fit: fill;
     object-fit: fill;
  height: 200px;
}

.heading-2 {
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.navbar-el {
  position: relative;
  font-family: Roboto, sans-serif;
}

.column {
  position: relative;
  display: block;
  overflow: hidden;
  height: auto;
  clear: right;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border: 1px none #000;
  transition: opacity 200ms ease;
  font-family: Roboto, sans-serif;
  white-space: nowrap;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  -o-object-fit: contain;
     object-fit: contain;
}

.columns {
  display: flex;
  overflow: auto;
  height: 400px;
  margin-right: 0px;
  margin-left: 0px;
  -o-object-fit: contain;
     object-fit: contain;
}

.connect-themes {
  position: relative;
  display: flex;
  overflow: visible;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding-top: 0px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  align-self: center;
  flex: 0 0 auto;
}

.column-2 {
  height: 100%;
  align-self: flex-start;
}

.grid {
  grid-column-gap: 16px;
}

.pricing-overview {
  position: relative;
  padding: 80px 30px;
  border-bottom: 1px solid #e4ebf3;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.centered-heading {
  margin-bottom: 16px;
  text-align: center;
}

.pricing-description {
  max-width: 550px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.pricing-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 50px;
  grid-auto-columns: 1fr;
  grid-column-gap: 64px;
  grid-row-gap: 50px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.pricing-card-three {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.pricing-image {
  width: 200px;
  height: 200px;
  margin-bottom: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}

.pricing-card-text {
  margin-bottom: 20px;
}

.text-link-arrow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.arrow-embed {
  display: flex;
  margin-left: 2px;
}

.pricing-comparison {
  position: relative;
  padding: 80px 30px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #f5f7fa;
}

.pricing-wrapper {
  display: -ms-grid;
  display: grid;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 50px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.pricing-card {
  position: relative;
  display: flex;
  padding: 32px 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 130px 0 rgba(150, 163, 181, 0.12);
}

.pricing-card.featured-pricing {
  z-index: 2;
  box-shadow: 0 4px 130px 0 rgba(150, 163, 181, 0.3);
}

.pricing-title {
  margin-top: 10px;
  margin-bottom: 8px;
  -ms-grid-row-align: auto;
      align-self: auto;
  font-family: Oswald, sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
  text-align: center;
}

.pricing-subtitle {
  margin-bottom: 12px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.pricing-price {
  margin-bottom: 8px;
  font-family: Oswald, sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
}

.paragraph-regular {
  font-size: 14px;
  line-height: 20px;
}

.paragraph-regular.margin-bottom-20 {
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  text-align: center;
}

.button-primary-3 {
  padding: 12px 25px;
  background-color: #1a1b1f;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary-3:hover {
  background-color: #32343a;
  color: #fff;
}

.button-primary-3:active {
  background-color: #43464d;
}

.button-primary-3.outline-button {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #1a1b1f;
  font-family: Roboto, sans-serif;
  color: #1a1b1f;
}

.button-primary-3.outline-button:hover {
  background-color: #1a1b1f;
  color: #fff;
}

.pricing-divider {
  height: 1px;
  margin: 56px -24px 16px;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  background-color: rgba(118, 135, 157, 0.1);
}

.pricing-feature-list {
  -ms-grid-row-align: stretch;
      align-self: stretch;
  font-family: Roboto, sans-serif;
}

.pricing-feature {
  margin-top: 16px;
  padding-left: 32px;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  background-image: url('../images/');
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: no-repeat;
  font-size: 14px;
  line-height: 24px;
}

.pricing-tag {
  position: absolute;
  top: -19px;
  padding: 7px 16px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 3px 10px 0 rgba(150, 163, 181, 0.2);
  color: #3a4554;
}

.image-2 {
  margin-right: 4px;
  margin-left: 4px;
}

.image-3 {
  margin-right: 4px;
  margin-left: 4px;
}

.image-4 {
  margin-right: 4px;
  margin-left: 2px;
}

.div-block-2 {
  display: flex;
}

.cover-load {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 50%;
  height: 100%;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #772323;
}

.body {
  display: flex;
  justify-content: space-between;
  background-color: #666;
}

.container-4 {
  position: fixed;
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  background-color: #30ad64;
  mix-blend-mode: normal;
}

.logo-heading-load {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: flex;
  margin: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: auto;
  font-family: Oswald, sans-serif;
  text-align: center;
}

.title-maski {
  overflow: hidden;
}

.testimonial-image-left {
  position: relative;
  height: 70dvh;
  padding: 80px 30px;
  border-bottom: 1px solid #e4ebf3;
  font-family: Oswald, sans-serif;
}

.container-5 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.testimonial-wrapper-four {
  display: flex;
  justify-content: space-between;
}

.testimonial-left {
  width: 30%;
  margin-right: 64px;
}

.testimonial-image-four {
  width: 90%;
  height: 90%;
  margin-right: auto;
  margin-left: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonial-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.heading-small {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}

.testimonial-text-four {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-indent: 0px;
  text-transform: none;
}

.testimonial-author-name-three {
  margin-bottom: 10px;
}

.connect-wrapper {
  display: flex;
  overflow: hidden;
  align-items: center;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

@media screen and (max-width: 991px) {
  .navigation-link {
    padding: 9px 0px;
    color: #ecf0f1;
    text-align: center;
  }

  .navigation-link:hover {
    color: #fff;
  }

  .hamburger-button {
    padding: 7px;
  }

  .hamburger-button.w--open {
    background-color: #000;
  }

  .navigation-menu {
    margin-top: 0px;
    padding-top: 26px;
    padding-bottom: 26px;
    background-color: #000;
  }

  .section {
    padding-bottom: 0px;
  }

  .container {
    max-width: 100%;
  }

  .hero-wrapper {
    margin-bottom: -40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .container-2 {
    max-width: 728px;
  }

  .gallery-wrapper-2 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .lets-connect {
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .heading {
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 20px;
    line-height: 120px;
    height: 140px;
  }

  .column {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    align-self: flex-start;
  }

  .columns {
    height: 100%;
  }

  .column-2 {
    margin-top: 20px;
    margin-bottom: 20px;
    -ms-grid-row-align: center;
        align-self: center;
  }

  .container-3 {
    max-width: 728px;
  }

  .pricing-grid {
    grid-column-gap: 30px;
  }

  .pricing-comparison {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .pricing-wrapper {
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .pricing-card {
    width: 350px;
  }

  .pricing-divider {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .pricing-feature-list {
    margin-bottom: 0px;
  }

  .pricing-feature {
    margin-top: 10px;
  }

  .testimonial-image-left {
    margin-top: 341px;
  }

  .container-5 {
    max-width: 728px;
  }

  .testimonial-wrapper-four {
    overflow: visible;
    width: 100%;
    height: 100%;
  }

  .testimonial-left {
    overflow: visible;
    width: 100%;
    height: 100%;
    margin-right: 0px;
  }

  .testimonial-image-four {
    overflow: visible;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .testimonial-right {
    flex: 0 auto;
  }

  .testimonial-text-four {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .navigation-bar {
    z-index: 1000;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .hamburger-button {
    padding: 10px;
  }

  .brand-text {
    margin-top: 5px;
  }

  .footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .about-photo {
    margin-bottom: 32px;
    padding-right: 0px;
  }

  .blog-list-item {
    margin-bottom: 26px;
  }

  .blog-info-text {
    margin-bottom: 7px;
  }

  .small-list {
    margin-top: 56px;
    text-align: center;
  }

  .blog-title-wrapper {
    text-align: center;
  }

  .hero-heading-left {
    padding: 60px 15px;
  }

  .container {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .hero-wrapper {
    margin-bottom: 0px;
  }

  .hero-split {
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }

  .shadow-two {
    max-width: 70%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .gallery-overview {
    padding: 60px 15px;
  }

  .lets-connect {
    overflow: visible;
    height: 100%;
    margin-top: 10px;
    margin-bottom: auto;
  }

  .heading {
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 0px;
    line-height: 70px;
  }

  .navbar-el {
    margin-top: -16px;
  }

  .column {
    overflow: hidden;
    padding-right: 0px;
    padding-left: 0px;
  }

  .columns {
    height: 100%;
  }

  .connect-themes {
    overflow: hidden;
    margin-top: 0px;
  }

  .column-2 {
    padding-right: 0px;
  }

  .pricing-overview {
    padding: 60px 15px;
  }

  .image {
    overflow: visible;
    max-width: 100%;
    margin-left: 0px;
    padding-left: 10px;
  }

  .pricing-comparison {
    margin-top: 0px;
    padding: 60px 15px;
  }

  .pricing-wrapper {
    justify-items: stretch;
  }

  .pricing-card {
    width: auto;
  }

  .pricing-title {
    font-size: 34px;
    line-height: 42px;
  }

  .pricing-divider {
    margin-top: 0px;
  }

  .pricing-feature-list {
    margin-bottom: 0px;
  }

  .testimonial-image-left {
    margin-bottom: 57px;
    padding: 0px 15px;
  }

  .testimonial-wrapper-four {
    margin-top: 0px;
    flex-direction: column;
  }

  .testimonial-left {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 5px;
  }

  .testimonial-image-four {
    display: block;
    width: 40%;
    height: 100%;
  }

  .heading-small {
    font-size: 28px;
    line-height: 36px;
  }

  .heading-small.margin-bottom-32px {
    margin-right: auto;
    margin-left: auto;
  }

  .testimonial-text-four {
    margin-bottom: 23px;
    line-height: 20px;
  }

  .connect-wrapper {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .brand-text {
    margin-top: 0px;
    font-size: 23px;
  }

  .photo-link-block {
    margin-bottom: 0px;
  }

  .photo-row {
    margin-bottom: 40px;
    padding-bottom: 40px;
  }

  .hero-heading-left {
    padding-bottom: 0px;
  }

  .container {
    max-width: none;
    margin-top: 17px;
  }

  .hero-wrapper {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .margin-bottom-24px {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .container-2 {
    max-width: none;
  }

  .gallery-wrapper-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .lets-connect {
    height: 50%;
    margin-top: 19px;
    margin-bottom: 0px;
    font-family: Oswald, sans-serif;
  }

  .heading {
    line-height: 60px;
  }

  .navbar-el {
    display: block;
    margin-top: -15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: Oswald, sans-serif;
  }

  .column {
    flex: 0 0 auto;
  }

  .columns {
    height: 100%;
    flex-direction: column;
  }

  .connect-themes {
    position: static;
    -o-object-fit: fill;
       object-fit: fill;
  }

  .column-2 {
    overflow: visible;
    height: 100%;
    flex: 0 0 auto;
  }

  .container-3 {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .pricing-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .image {
    position: relative;
    width: auto;
    height: auto;
  }

  .pricing-comparison {
    display: block;
    margin-top: 146px;
    padding-top: 22px;
  }

  .pricing-price {
    margin-top: -11px;
  }

  .pricing-divider {
    margin-top: 11px;
  }

  .testimonial-image-left {
    top: 66px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 47px;
  }

  .container-5 {
    max-width: none;
  }

  .testimonial-left {
    margin-bottom: 0px;
    text-align: center;
  }

  .testimonial-image-four {
    width: 50%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .heading-small {
    font-size: 24px;
    line-height: 32px;
  }

  .testimonial-text-four {
    margin-bottom: 0px;
    font-size: 14px;
  }
}

#w-node-cab4e361-cb39-9c03-33d8-ad2ea759065c-47a8906f {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cab4e361-cb39-9c03-33d8-ad2ea759067c-47a8906f {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cab4e361-cb39-9c03-33d8-ad2ea75906a4-47a8906f {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 767px) {
  #w-node-cab4e361-cb39-9c03-33d8-ad2ea759065c-47a8906f {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
        grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

