body {
    background-color: #ffffff;
    background-image: url("images/background.jpg");
    background-size: cover;
    color: #24252e;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
    min-width: auto;
}

/* #eaeef5, #aebad5, #828eb0, #4b566c, #24252e */

.header-logo {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 200px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    height: 50px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    list-style: none;

    
}

.menu li {
    margin: 5px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: light;
    color: #24252e;
}

li a {
    text-decoration: none;
    color: #24252e;
    font-family: 'Roboto', sans-serif;
}


.hero {
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-logo{
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    
    width: 500px;   
}

.description {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #24252e;
}

   